@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/sawarabigothic.css);

:root {
    font-family: "Rounded Mplus 1c", "Sawarabi Gothic", meiryo;
}

@media (max-width: 899px){
    :root {
        font-size: 14px;
    }
    body {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (min-width: 900px) {
    body {
        max-width: 900px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}


#loading {
    display: none;
}

.main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}

.main .container {
    margin: 50px;
    flex: 1 1 200px;
    border: 1px solid black;
}

.container .photo {
    display: block;
    margin: 0 auto;
    height: 200px;
}

.main #index_button {
    height: 50px;
    margin: 20px;
    flex: 0 0 300px;
}

.option_button #search_button {
    display: flex;
    flex-wrap: wrap;
}

.option_button button {
    height: 50px;
    margin: 20px;
    flex: 0 1 300px;
}

.search ul{
    border-bottom: 1px solid rgb(165, 165, 165);
    width: auto;
    padding: 10px;
    list-style-type: none;
}

.search .retweet_sentence{
    color: green;
    margin-top: 0;
}

.search .fa-retweet{
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    padding-right: 0.5em;
}

.search #User_info {
    display: flex;
    align-items: center;
}

.search #Tweet_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search #User_info #User_Name{
    font-size: 1.1em;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
}

.search #youtube_link a, #nico_link a{
    display: block;
    width: 320px;
    height: 180px;
    background-position: center;
    background-size: cover;
}

.search #youtube_link i{
    position: relative;
    bottom: 0;
    right: 0;
    font-size: 72px;
    color: red;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.search #nico_link i{
    position: relative;
    bottom: 0;
    right: 0;
    font-size: 72px;
    color: white;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.search #youtube_link a:hover, #nico_link a:hover {
    opacity: 0.6;
}

.search #RT_Counter {
    display: flex;
    margin-top: 10px;
}

.search #RT_Counter .fa-heart{
    padding-left: 10px;
}

.search .img{
    display: inline-block;
    width: 150px;
    min-height: 150px;
    background-size: cover;
    background-position: center;
}

.no-result {
    position: absolute;
    z-index: -1;
}

.tweet_list > div {
    background-color: white;
}